/* General styles for the logo container */
.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .logo-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    animation: fadeIn 2s ease-in-out, scaleUp 1s ease-in-out 2s;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .logo-container {
      width: 100px;
      height: 100px;
    }
  }
  
  @media (max-width: 480px) {
    .logo-container {
      width: 75px;
      height: 75px;
    }
  }
  
  /* Image styles */
  .logo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Animation keyframes */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes scaleUp {
    from {
      transform: scale(0.8);
    }
    to {
      transform: scale(1);
    }
  }
  